<div class="center hero-unit">
	<h1>CRINNOVAL</h1>
	<p>
		Creative Innovation for Value Creation <%= link_to image_tag("business-model-innovation.jpg", alt: "Rails"), 'http://rubyonrails.org/' %> </p>
		<p>
		<a href="http://ruby.railstutorial.org/"> Ruby on Rails tutorial</a> 
		application, made by Salman Vajid

	</p>
<div>
	<%= link_to "Sign up now!", 'signup', class: "btn-large btn-primary" %>
</div>
d